body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 2em;
}

.game-board {
    font-size: 96px;
    margin-right: 1em;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    box-sizing: content-box;
    border: 2px solid #999;
    margin-right: -2px;
    margin-top: -2px;
    line-height: 1.4em;
    height: 1.4em;
    width: 1.4em;
    font-size: inherit;
    font-weight: bold;
    padding: 0;
    background: #fff;
    float: left;
    text-align: center;
}

.board-row:first-of-type .square {
    border-top: none;
}

.board-row:last-of-type .square {
    border-bottom: none;
}

.square:first-of-type {
    border-left: none;
}

.square:last-of-type {
    border-right: none;
}

.square:focus {
    outline: none;
}

.square.partOfWin {
    background: lightgreen;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.status {
    margin-bottom: 10px;
}

.game-info {
    font-size: 36px;
    margin-left: 20px;
}
